<div class="row">
  <div class="col-md-3">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" (click)="refresh()">
          <img src="../../assets/logo2.png" alt="" width="70" height="70" class="d-inline-block align-text-top">
          <a  class="d-inline-block align-text-top">GOODLIFE</a>
        </a>  
      </div>  
    </nav>
  </div>
  <div class="col-md-9" *ngIf="user==undefined; else LoggedIn">
    <a href="" class="boton_reg" routerLink="/registro/">Registrarse</a>
    <a href="" class="boton_ini" routerLink="/login/">Iniciar Sesión</a>
  </div>
   <ng-template #LoggedIn>
    <div class="col-md-9" id="logged">
      <a>{{ user["alias"] }}</a>
      <img src="../../assets/user.png" alt="">
      <a href="" class="boton_reg" routerLink="/" (click)="onLogOut()">Cerrar Sesión</a>
    </div>
  </ng-template>
  
</div>
