<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="/" (click)="refresh()">
                    <img src="../../assets/logo2.png" alt="" width="70" height="70" class="d-inline-block align-text-top">
                    <a class="d-inline-block align-text-top">GOODLIFE</a>
                </a>
                <a href="" class="boton_ini">INICIAR SESION</a>

            </div>
        </nav>
    </div>
</div>