<app-header [input]=false></app-header>
<div class="row">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <!-- [formGroup] = "iniciar (ngSubmit)= "onSubmit() -->
    <input type ="image" width="40" src="../../assets/imagenretroceso.png" routerLink="/"/>

   <!--<button type="submit"><img src="image2.jpg" onclick="history.back()" /></button>-->
    <h3 class="text-center ">Iniciar Sesión</h3><br/>

    <div class="form-group">
      <label>Correo Electrónico<a style="color:rgb(192, 17, 17);">*</a></label><br />
      <input type="email" formControlName="email" class="form-control" autofocus pattern="[\w]{1,}[\w.+-]{0,}@[\w-]{1,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" (keypress)="charValidator($event)">
    </div><br />

    <div class="form-group">
      <label>Contraseña<a style="color:rgb(192, 17, 17);">*</a></label> <br/>
      <input type="password" formControlName="password" class="form-control" (keypress)="charValidator($event)">
    </div><br /><br/>

    <div class="form-group" class="center-content">
      <button class="btn btn-success  btn-space" type="submit"  >Iniciar</button>
     
    </div>

  </form>
</div>
<div class="row">
  <div class="col-md-12">

  </div>  
</div>