<app-header [input]=false></app-header>

<body >
    <!-- background="../../assets/img-backgroundDetail.png"  -->
    
    <h1 class="title">Recomendados para ti</h1>
    <div class="container">
       
        <div *ngFor="let recommend of recommendList" class="card">
            <div *ngFor="let product of productList">
                <div *ngIf="product.name==recommend.category">
                    <img src={{product.image}}>
                    <h4>{{ recommend.category }}</h4>
                    <p>Ración diaria: {{ recommend.portion }} mg</p>
                    <button class="btn btn-outline-success" (click)="saveFood(product, recommend)" routerLink="/detail">Ver más</button>
                </div>
            </div>            
            
        </div>
        
        <!-- <div class="card">
            <img src="">
            <h4>Comida</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        
        <div class="card">
            <img src="">
            <h4>Tecnología</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="">
            <h4>Tecnología</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="">
            <h4>Tecnología</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="">
            <h4>Tecnología</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div> -->

    </div>
    
</body>