/*Navbar format*/
.nav-link{
    font-size: 1.5em;
    color: #2C3C5B;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-item:hover{
    background-color: #0AC5A8;
}
.hoverOn{
    background-color: #0AC5A8;
}


.nav{
    background-color: #869CB8;
}

/*main section*/
.row{
    background-color: #2C3C5B;
    background-image: url("../../assets/img-backgroundMainList.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    
}
/* .main-list{
   height: max-content;
} */

/*Search bar*/
.form-inline{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}
.btn{
    background-color: #A8A8A8;
    border: #A8A8A8;
}
.btn img{
    width: 1em;
    height: 1em;
}


/*Card format*/
.card{
    background-color: #C4C4C4;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    padding-left: 2%;
    padding-right: 2%;
    cursor: default;
}

.item{
    display: flex;
    flex-direction: row;
}
.image-slot{
    width: 6em;
    height: 6em;
    cursor: pointer;
    border-radius: 20px;
}
.description-slot{
    width:fit-content;/*Autoajuste restante de la descripcion*/
    height: 6em;
    padding-right: 5%;
    padding-left: 1em;
    overflow: hidden;/*Oculta partes para que no sean visibles*/
    text-overflow: ellipsis;
}
.card-body .btn{
    position: relative;
    height: 2em;
    font-size: 1em;
    align-content: center;
    background-color: #0AC5A8;

    /* bottom: 0.5em; */
    float: right;
}

.col-md-10{
    height: max-content;
}