<section>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#">CEREALES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FRUTAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">VERDURAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CARNE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">LÁCTEOS</a>
        </li>
    </ul>
</section>

<section>
    <div class="row"><!-- main list -->
      <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="main-list">
              <nav class="navbar navbar-light justify-content-between"><!--Search bar-->
                <a class="navbar-brand"></a>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="../../assets/icon-searchMainList.png"></button>
                </form>
              </nav>

              <div class="card" *ngFor="let product of productList"><!--Card format-->
                <div class="card-body">
                  <div class="item">
                    <div class="image-slot">
                    </div>
                    <div class="description-slot">
                      <h2>{{product.name}}</h2>
                      <p>{{product.description}}</p>
                    </div>
                    <button class="btn btn-outline-success " type="submit">Ver más</button>
                  </div>
                </div>
              </div>


            </div>
        </div>
      <div class="col-md-1"></div>
    </div>
</section>

