<section>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#">CEREALES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FRUTAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">VERDURAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CARNE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">LÁCTEOS</a>
        </li>
      </ul>
</section>

<section>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><!-- main -->
            <nav class="navbar navbar-light justify-content-between">
                <a class="navbar-brand"></a>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </nav>

            <div class="card">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto illum quibusdam rem dolores debitis, cum quod nam obcaecati, nobis ex earum atque recusandae? Quaerat id laudantium labore dicta fugit eum.
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</section>

