<app-header [input]=true></app-header>

<section>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item" [ngClass]="{'hoverOn':hoverList[0]}">
          <a class="nav-link" (click)="changeHover(0); categorySearch('CEREALES')">CEREALES</a>
        </li>
        <li class="nav-item" [ngClass]="{'hoverOn':hoverList[1]}">
          <a class="nav-link" (click)="changeHover(1); categorySearch('FRUTAS')">FRUTAS</a>
        </li>
        <li class="nav-item" [ngClass]="{'hoverOn':hoverList[2]}">
          <a class="nav-link" (click)="changeHover(2); categorySearch('VERDURAS')">VERDURAS</a>
        </li>
        <li class="nav-item" [ngClass]="{'hoverOn':hoverList[3]}">
          <a class="nav-link" (click)="changeHover(3); categorySearch('CARNES')">CARNE</a>
        </li>
        <li class="nav-item" [ngClass]="{'hoverOn':hoverList[4]}">
            <a class="nav-link" (click)="changeHover(4); categorySearch('LÁCTEOS')">LÁCTEOS</a>
        </li>
    </ul>
</section>

<section>
    <div class="row"><!-- main list -->
      <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="main-list" [ngStyle]="{'height':listLength()}">
              <nav class="navbar navbar-light justify-content-between"><!--Search bar-->
                <a class="navbar-brand"></a>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="text" placeholder="Buscar un alimento" #searchValue 
                  maxlength="25"  aria-label="Search" id="buscar" [(ngModel)]='buscar' [ngModelOptions]="{standalone: true}" 
                  (keypress)="charValidator($event)" (paste)="false"/><!--(paste)="false"-->

                  <button class="btn btn-outline-success my-2 my-sm-0" (click)='consulProductos(searchValue);'><img src="../../assets/icon-searchMainList.png"></button>
                </form>
              </nav>

              <div class="card" *ngFor="let product of productList"><!--Card format-->
                <div class="card-body">
                  <div class="item">
                    
                    <img class="image-slot" src={{product.image}} alt="Imagen" (click)="saveFood(product)" routerLink="/detail">
                    <div class="description-slot">
                      <h2>{{product.name}}</h2>
                      <p>{{product.description}}</p>
                    </div>
                    
                  </div>
                  <button class="btn btn-outline-success" (click)="saveFood(product)" routerLink="/detail">Ver más</button><!--[routerLink]="['/detail',product]"-->
                </div>
              </div>


            </div>
        </div>
      <div class="col-md-1"></div>
    </div>
</section>

