<app-header [input]=false></app-header>
<div class="row">
    <div class="col-md-5" id="img-lat">
        <br>
        <input type ="image" width="40" src="../../assets/imagenretroceso.png" routerLink="/" class="backButton"/>
    </div>
    <!-- <div class="col-md-1" id="back-space">
        
    </div> -->
    <div class="col-md-6" id="main-form">
        <form [formGroup]="formularioRecomendacionProducto" novalidate>
            <br><h3>Recomendar alimento</h3><br>
            
            <div class="form-group">
                <label>Alimento<a style="color: red;">*</a> </label>
                <select formControlName="productName" class="form-control" [(ngModel)]="currentData" (change)='bringRecommendedData()'>
                    <option disabled selected>Seleccione un alimento</option>
                    <option *ngFor="let product of productList" [ngValue]="product">{{ product.name }}</option>
                </select>
            </div>
            <br>

            <div class="form-group">
                <label> Recomendaciones hechas</label>
                <div class="recommend-table">
                    <table class="table table-warning">
                        <thead>
                          <tr>
                            <th scope="col">Alimento</th>
                            <th scope="col">Ración (mg)</th>
                            <th scope="col">Edad (años)</th>
                            <th scope="col">Peso (Kg)</th>
                            <th scope="col">Altura (cm)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let recommended of currentDataList">
                            <th scope="row">{{ recommended.category }}</th>
                            <td>{{ recommended.portion }}</td>
                            <td>{{ recommended.ageMin }} - {{ recommended.ageMax }}</td>
                            <td>{{ recommended.weightMin }} - {{ recommended.weightMax }}</td>
                            <td>{{ recommended.heightMin }} - {{ recommended.heightMax }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>

            <br>
            <hr>
            <br>

            <div class="form-group">
                <label> Ración recomendada (mg) <a style="color: red;">*</a> </label>
                <input type="number" formControlName="recommendedPortion" class="form-control" ng-trim="false">
                <label class="errores" color="danger" *ngIf="isInvalid('recommendedPortion')">
                    <h6 *ngIf="hasErrorControl('recommendedPortion', 'min')">
                        Cantidad mínima de Ración recomendada es 100 mg
                    </h6>
                    <h6 *ngIf="hasErrorControl('recommendedPortion', 'max')">
                        Cantidad máxima de Ración recomendada es 1000000 mg
                    </h6>
                    <h6 *ngIf="hasErrorControl('recommendedPortion', 'required')">Este campo es obligatorio</h6>
                </label>
            </div>

            <br>
            <div class="form-group">
                <label> Valores nutricionales de ración recomendada</label>
                    <div class="nutritional-info-table">
                        <table class="table table-success table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Elemento nutricional</th>
                                    <th scope="col">Valor nutricional</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Energía</td>
                                    <td>{{ currentData.energy }}</td>
                                </tr>
                                <tr>
                                    <td>Carbohidatos</td>
                                    <td>{{ currentData.carbohydrates }}</td>
                                </tr>
                                <tr>
                                    <td>Proteínas</td>
                                    <td>{{ currentData.protein }}</td>
                                </tr>
                                <tr>
                                    <td>Grasas</td>
                                    <td>{{ currentData.grease }}</td>
                                </tr>
                                <tr>
                                    <td>Colesterol</td>
                                    <td>{{ currentData.cholesterol }}</td>
                                </tr>
                                <tr>
                                    <td>Sodio</td>
                                    <td>{{ currentData.sodium }}</td>
                                </tr>
                                <tr>
                                    <td>Fibra</td>
                                    <td>{{ currentData.fiber }}</td>
                                </tr>
                                <tr>
                                    <td>Calcio</td>
                                    <td>{{ currentData.calcium }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina A</td>
                                    <td>{{ currentData.vitaminA }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina B1</td>
                                    <td>{{ currentData.vitaminB1 }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina B2</td>
                                    <td>{{ currentData.vitaminB2 }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina B3</td>
                                    <td>{{ currentData.vitaminB3 }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina B5</td>
                                    <td>{{ currentData.vitaminB5 }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina B6</td>
                                    <td>{{ currentData.vitaminB6 }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina B7</td>
                                    <td>{{ currentData.vitaminB7 }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina B9</td>
                                    <td>{{ currentData.vitaminB9 }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina B12</td>
                                    <td>{{ currentData.vitaminB12 }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina C</td>
                                    <td>{{ currentData.vitaminC }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina D</td>
                                    <td>{{ currentData.vitaminD }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina E</td>
                                    <td>{{ currentData.vitaminE }}</td>
                                </tr>
                                <tr>
                                    <td>Vitamina K</td>
                                    <td>{{ currentData.vitaminK }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>

            <br>
            <hr>
            <br>

            <div class="form-group">
                <label class="rank"> Rango de edad (años) <a style="color: red;">*</a> </label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="number" formControlName="lowRankAge" class="form-control" ng-trim="false" placeholder="Rango inferior">
                        <label class="errores" color="danger" *ngIf="isInvalid('lowRankAge')">
                            <h6 *ngIf="hasErrorControl('lowRankAge', 'min')">
                                La edad mínima es 0 años
                            </h6>
                            <h6 *ngIf="hasErrorControl('lowRankAge', 'max')">
                              La edad máxima es de 91 años
                            </h6>
                            <h6 *ngIf="hasErrorControl('lowRankAge', 'required')">Este campo es obligatorio</h6>
                        </label>
                    
                    </div>
                    <!-- <div class="col-sm-2">-</div>  -->
                    <div class="col-sm-6">
                        <input type="number" formControlName="topRankAge" class="form-control" ng-trim="false" placeholder="Rango superior">
                        <label class="errores" color="danger" *ngIf="isInvalid('topRankAge')">
                            <h6 *ngIf="hasErrorControl('topRankAge', 'min')">
                                La edad mínima es 0 años
                            </h6>
                            <h6 *ngIf="hasErrorControl('topRankAge', 'max')">
                                La edad máxima es de 91 años
                            </h6>
                            <h6 *ngIf="hasErrorControl('topRankAge', 'required')">Este campo es obligatorio</h6>
                        </label>
                    </div>
                </div>
            </div>

            <br>
            <div class="form-group">
                <label class="rank"> Rango de peso (Kg) <a style="color: red;">*</a> </label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="number" formControlName="lowRankWeight" class="form-control" ng-trim="false" placeholder="Rango inferior">
                        <label class="errores" color="danger" *ngIf="isInvalid('lowRankWeight')">
                            <h6 *ngIf="hasErrorControl('lowRankWeight', 'min')">
                                El peso mínimo es 1 kg
                            </h6>
                            <h6 *ngIf="hasErrorControl('lowRankWeight', 'max')">
                                El peso máximo es 120 kg
                            </h6>
                            <h6 *ngIf="hasErrorControl('lowRankWeight', 'required')">Este campo es obligatorio</h6>
                        </label>
                    </div>
                    <!-- <div class="col-sm-2">-</div>  -->
                    <div class="col-sm-6">
                        <input type="number" formControlName="topRankWeight" class="form-control" ng-trim="false" placeholder="Rango superior">
                        <label class="errores" color="danger" *ngIf="isInvalid('topRankWeight')">
                            <h6 *ngIf="hasErrorControl('topRankWeight', 'min')">
                                El peso mínimo es 1 kg
                            </h6>
                            <h6 *ngIf="hasErrorControl('topRankWeight', 'max')">
                                El peso máximo es 120 kg
                            </h6>
                            <h6 *ngIf="hasErrorControl('topRankWeight', 'required')">Este campo es obligatorio</h6>
                        </label>
                    </div>
                </div>
            </div>

            <br>
            <div class="form-group">
                <label class="rank"> Rango de altura (cm) <a style="color: red;">*</a> </label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="number" formControlName="lowRankHeight" class="form-control" ng-trim="false" placeholder="Rango inferior">
                   
                        <label class="errores" color="danger" *ngIf="isInvalid('lowRankHeight')">
                            <h6 *ngIf="hasErrorControl('lowRankHeight', 'min')">
                                La altura mínima es 50 cm
                            </h6>
                            <h6 *ngIf="hasErrorControl('lowRankHeight', 'max')">
                                La altura máxima es 250 cm
                            </h6>
                            <h6 *ngIf="hasErrorControl('lowRankHeight', 'required')">Este campo es obligatorio</h6>
                        </label>                    </div>
                    <!-- <div class="col-sm-2">-</div>  -->
                    <div class="col-sm-6">
                        <input type="number" formControlName="topRankHeight" class="form-control" ng-trim="false" placeholder="Rango superior">
                        <label class="errores" color="danger" *ngIf="isInvalid('topRankHeight')">
                            <h6 *ngIf="hasErrorControl('topRankHeight', 'min')">
                                La altura mínima es 50 cm
                            </h6>
                            <h6 *ngIf="hasErrorControl('topRankHeight', 'max')">
                                La altura máxima es 250 cm
                            </h6>
                            <h6 *ngIf="hasErrorControl('topRankHeight', 'required')">Este campo es obligatorio</h6>
                        </label>
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-danger  btn-space">Cancelar</button>
                </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success  btn-space" (click)="onSubmit()">Recomendar alimento</button>
                </div>
            </div>

            <br>

        </form>

    </div>
</div>
