<section>
    <div class="row">
        <div class="col-md-12">
            <img src="../../assets/img-backgroundDetail.png" alt="">
            
        </div>
    </div>    
</section>

<section>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="food-image">
                <img src="../../assets/icon-backButton.png" alt="" routerLink="/">
            </div>
            <h2>NOMBRE FRUTA</h2>
            <p>Descripcion:</p>

            <div class="row">
                <div class="col-md-6">
                    <p><b>Energía: </b></p>
                    <p><b>Carbohidratos: </b></p>
                    <p><b>Proteínas: </b></p>
                    <p><b>Grasas: </b></p>
                    <p><b>Colesterol: </b></p>
                    <p><b>Sodio: </b></p>
                    <p><b>Fibra: </b></p>
                    <p><b>Calcio: </b></p>
                </div>
                <div class="col-md-6">
                    <p><b>Vitamina A: </b></p>
                    <p><b>Vitamina B1: </b></p>
                    <p><b>Vitamina B2: </b></p>
                    <p><b>Vitamina B3: </b></p>
                    <p><b>Vitamina B5: </b></p>
                    <p><b>Vitamina C: </b></p>
                    <p><b>Vitamina D: </b></p>
                    <p><b>Vitamina E: </b></p>
                    <p><b>Vitamina K: </b></p>
                </div>
            </div>


        </div>
    </div>
</section>
