<app-header [input]=false></app-header>
<section>
    <div class="row">
        <div class="col-md-12">
            <img src="../../assets/img-backgroundDetail.png" alt="" id="backgroundImg">
        </div>
    </div>    
</section>

<section>
    <div class="row">
        <div class="col-md-3">
            <img src={{productSelected.image}} alt="" id="selectImg"/>
            <div class="back-button">
                <img *ngIf="recommendedView=='true'" src="../../assets/icon-backButton.png" alt="" routerLink="/usuario-component" (click)="showValues()">
                <img *ngIf="recommendedView=='false'" src="../../assets/icon-backButton.png" alt="" routerLink="/">
                <h2>{{productSelected.name}}</h2>
            </div>
        </div>
        <div class="col-md-9" *ngIf="isRecommend=='true'">            
            <br><h2>CATEGORÍA: {{productSelected.category}}</h2><br>
            <p>{{productSelected.description}}</p>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Energía:</strong> {{energy}} kcal</p>
                    <p><strong>Carbohidratos:</strong> {{carbohydrates}} mg</p>
                    <p><strong>Proteínas:</strong> {{protein}} mg</p>
                    <p><strong>Grasas:</strong> {{grease}} mg</p>
                    <p><strong>Colesterol:</strong> {{cholesterol}} mg</p>
                    <p><strong>Sodio:</strong> {{sodium}} mg</p>
                    <p><strong>Fibra:</strong> {{fiber}} mg</p>
                    <p><strong>Calcio:</strong> {{calcium}} mg</p>
                    <p><strong>Vitamina A:</strong> {{vitaminA}} mg</p>
                    <p><strong>Vitamina B1:</strong> {{vitaminB1}} mg</p>
                    <p><strong>Vitamina B2:</strong> {{vitaminB2}} mg</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Vitamina B3:</strong> {{vitaminB3}} mg</p>
                    <p><strong>Vitamina B5:</strong> {{vitaminB5}} mg</p>
                    <p><strong>Vitamina B6:</strong> {{vitaminB6}} mg</p>
                    <p><strong>Vitamina B7:</strong> {{vitaminB7}} mg</p>
                    <p><strong>Vitamina B9:</strong> {{vitaminB9}} mg</p>
                    <p><strong>Vitamina B12:</strong> {{vitaminB12}} mg</p>
                    <p><strong>Vitamina C:</strong> {{vitaminC}} mg</p>
                    <p><strong>Vitamina D:</strong> {{vitaminD}} mg</p>
                    <p><strong>Vitamina E:</strong> {{vitaminE}} mg</p>
                    <p><strong>Vitamina K:</strong> {{vitaminK}} mg</p>
                </div>
            </div>

        </div>
        <div class="col-md-9" *ngIf="isRecommend=='false'">            
            <br><h2>CATEGORÍA: {{productSelected.category}}</h2><br>
            <p>{{productSelected.description}}</p>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Energía:</strong> {{productSelected.energy}} kcal</p>
                    <p><strong>Carbohidratos:</strong> {{productSelected.carbohydrates}} mg</p>
                    <p><strong>Proteínas:</strong> {{productSelected.protein}} mg</p>
                    <p><strong>Grasas:</strong> {{productSelected.grease}} mg</p>
                    <p><strong>Colesterol:</strong> {{productSelected.cholesterol}} mg</p>
                    <p><strong>Sodio:</strong> {{productSelected.sodium}} mg</p>
                    <p><strong>Fibra:</strong> {{productSelected.fiber}} mg</p>
                    <p><strong>Calcio:</strong> {{productSelected.calcium}} mg</p>
                    <p><strong>Vitamina A:</strong> {{productSelected.vitaminA}} mg</p>
                    <p><strong>Vitamina B1:</strong> {{productSelected.vitaminB1}} mg</p>
                    <p><strong>Vitamina B2:</strong> {{productSelected.vitaminB2}} mg</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Vitamina B3:</strong> {{productSelected.vitaminB3}} mg</p>
                    <p><strong>Vitamina B5:</strong> {{productSelected.vitaminB5}} mg</p>
                    <p><strong>Vitamina B6:</strong> {{productSelected.vitaminB6}} mg</p>
                    <p><strong>Vitamina B7:</strong> {{productSelected.vitaminB7}} mg</p>
                    <p><strong>Vitamina B9:</strong> {{productSelected.vitaminB9}} mg</p>
                    <p><strong>Vitamina B12:</strong> {{productSelected.vitaminB12}} mg</p>
                    <p><strong>Vitamina C:</strong> {{productSelected.vitaminC}} mg</p>
                    <p><strong>Vitamina D:</strong> {{productSelected.vitaminD}} mg</p>
                    <p><strong>Vitamina E:</strong> {{productSelected.vitaminE}} mg</p>
                    <p><strong>Vitamina K:</strong> {{productSelected.vitaminK}} mg</p>
                </div>
            </div>

        </div>
    </div>
</section>
