<section>
    <div class="row">
        <div class="col-md-12">
            <img src="../../assets/img-backgroundDetail.png" alt="">
        </div>
    </div>    
</section>

<section>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="food-image"></div>            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eos incidunt, maiores aperiam aspernatur provident quo deleniti quis totam minima laborum, reiciendis accusantium. Saepe, sed? Eius quod itaque at incidunt.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eos incidunt, maiores aperiam aspernatur provident quo deleniti quis totam minima laborum, reiciendis accusantium. Saepe, sed? Eius quod itaque at incidunt.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eos incidunt, maiores aperiam aspernatur provident quo deleniti quis totam minima laborum, reiciendis accusantium. Saepe, sed? Eius quod itaque at incidunt.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eos incidunt, maiores aperiam aspernatur provident quo deleniti quis totam minima laborum, reiciendis accusantium. Saepe, sed? Eius quod itaque at incidunt.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eos incidunt, maiores aperiam aspernatur provident quo deleniti quis totam minima laborum, reiciendis accusantium. Saepe, sed? Eius quod itaque at incidunt.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eos incidunt, maiores aperiam aspernatur provident quo deleniti quis totam minima laborum, reiciendis accusantium. Saepe, sed? Eius quod itaque at incidunt.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eos incidunt, maiores aperiam aspernatur provident quo deleniti quis totam minima laborum, reiciendis accusantium. Saepe, sed? Eius quod itaque at incidunt.</p>

        </div>
    </div>
</section>
