/*Background image*/
#backgroundImg{
    height:30vh;
    width: 100%;
    object-fit: cover;
    
}

.row #selectImg{
    width: 100%;
    height: 40vh;
}

/*Food image*/
/*.food-image{
    position: relative;
    width: 25em;
    height: 20em;
    margin-top: -10em;
    margin-left: -15em;
} */


p{
    padding-left: 11em;
}

.col-md-3{
    background-color: #2C3C5B;
}
.col-md-3 img{/*product img*/
    width: 23em;
    height: 15em;
    position: relative;
    margin-top: -10em;
    margin-left: 5em;
}
.back-button{
    display: flex;
    flex-direction: row;
}
.back-button h2{/*product name*/
    background-color: #869CB8;
    text-align: center;
    padding-top: 1em;
    width: 100vh;
    height: 3em;
}
.back-button img{/*back button*/
    height: 3em;
    width: 3em;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
}


.col-md-9{
    background-color: #C4C4C4;
    margin-left: -0.8em;
}
.col-md-9 h2{
    text-align: center;
}

.col-md-9 p{
    overflow: hidden;
}

