form{
    background-color:#ffffff;  
    color:#2C3C5B;
    font-size: 17px;
}
input{
    border-radius: 10px;
}
select{
    border-radius: 10px;
}
button{
    border-radius: 10px;
    border: 0;
    height: 3em;
}
.col-md-4{
    background: url(../../assets/img-backgroundSideSignUp.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
}
.form-control{
    background-color:#A8A8A8;
}
.cancelar{
    border-style: none;
    color:rgb(192, 17, 17);
    transition:all 300ms;
}
.aceptar{
    border-style: none;   
    color:white;
    transition:all 300ms;
}
.signos{
    color: #cf0000;
    font-weight: 1000;
}
.btn-success{
    color: #131212;
    background-color: #0AC5A8;
    width: 100%;
}
.btn-danger{
    width: 100%;
}
.btn-danger:hover{
    opacity: 100%;
}
.btn-success:hover{
    background-color: #0FB39A;
}
.errores{
    color: #FF0F00;
}